<?xml version="1.0"?>
<!--
Copyright (C) 2017, Raffaello Bonghi <raffaello@rnext.it>
All rights reserved

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright 
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its 
   contributors may be used to endorse or promote products derived 
   from this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <!-- Launch the ZED wrapper node -->
  <arg name="zed"          default="true"  />
  <!-- Enable/disable 2D mode -->
  <arg name="two_d_mode"   default="true" />
  <!-- Enable/Disable sensor fusion -->
  <arg name="filter"       default="true" />
  
  <!-- USB port selection -->
  <arg name="ttyMOTOR"     default="/dev/ttyACM0" />
  <arg name="ttyIMU"       default="/dev/RazorIMU" />

 
  <!-- Launch LIDAR sensor -->
  <include file="$(find trekbot_main)/launch/include/lidar.launch">

  </include>

  <!-- Launch IMU sensor -->
  <include file="$(find trekbot_main)/launch/include/imu.launch">
    <!-- Set TTY IMU controller -->
    <arg name="port"             value="$(arg ttyIMU)"   />
  </include>

  <!-- Start ZED camera and laser scan -->
  <group if="$(arg zed)">
    <include file="$(find zed_rtabmap_example)/launch/zed_rtabmap.launch">
      <!-- Enable/Disable odometry TF from ZED -->

    </include>
  </group>

  <!-- Load Sensor fusion filter -->
  <group if="$(arg filter)">
    <include file="$(find trekbot_main)/launch/include/localization.launch">
      <!-- Enable/Disable 2D mode -->
      <arg name="two_d_mode" value="$(arg two_d_mode)" />
    </include>
  </group>

<!-- Launch rivz display -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find trekbot_main)/rviz/trek.rviz" output="screen" />

</launch>
