<?xml version="1.0" encoding="UTF-8"?>
<launch>
 
  <node name="voxblox_node" pkg="voxblox_ros" type="tsdf_server" output="screen" args="-alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="/zed/point_cloud/cloud_registered"/>
    <param name="tsdf_voxel_size" value="0.1" />
    <param name="truncation_distance" value="0.5" />
    <param name="color_mode" value="normals" />
    <param name="enable_icp" value="true" />
    <param name="icp_refine_roll_pitch" value="false" />
    <param name="start_voxel_subsampling_factor" value="2.0" />
    <param name="update_mesh_every_n_sec" value="1.0" />
    <param name="mesh_min_weight" value="2" />
    <param name="method" value="fast" />
    <param name="max_ray_length_m" value="10.0" />
    <param name="max_consecutive_ray_collisions" value="2.0" />
    <param name="max_integration_time_s" value="3.40282e+38" />
    <param name="clear_checks_every_n_frames" value="1.0" />
    <param name="use_const_weight" value="true" />
    <param name="world_frame" value="map"/>
    <param name="verbose" value="true" />
  </node>

</launch>
